body{
  color: black;
  display: flex;
  flex-wrap: wrap;
}



.image {
  background-color:rgb(255, 255, 0);
  width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.pokemon {
  width: 50px;
  height: 50px;
}
