.App {
    text-align: center;
    border: 20px outset #21348a;
    justify-content: center;
  }

.center{
  background-color: black;
  border: 3px outset #21348a;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
    background-color: #e8eb5c;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF,
     0 0 15px #FFF, 0 0 20px blue, 0 0 30px blue, 
     0 0 40px #21348a, 0 0 55px #21348a, 0 0 75px #49ff18;
     border: 20px outset #21348a;



}
.box{
    flex-direction: column;
    flex-wrap: wrap
}
img{
    width: 175px;
    height: 175px;
    filter: saturate(130%) contrast(110%) drop-shadow(12px 10px 8px);
    transition: transform .15s;
    border: 10px outset #21348a;
    margin: 20px;
    flex-direction: column;

}
  
  img:hover {
    position: relative;
    transform: scale(2);
    z-index: 1;
    color:  #e8eb5c;
    filter: saturate(120%) contrast(120%) drop-shadow(12px 10px 8px);
  }
  .black{
    background-color: black;
    color: yellow;
    font: 3em sans-serif;
  }
  .border{
    background-color: rgb(29, 80, 175);
    
  }
  .lstPage{
    background-color: rgb(29, 80, 175);

  }
