html{
    height:100%;
    width: 100%;
    background-color:black;

    display: flex;
    flex-wrap: wrap;
    

}

section{
    width: 300px;
    height: 400px;
    margin: 10px;
}

header{
    background-color: rgb(29, 59, 34);
    font-size: large;   
     color: whitesmoke;
   
}

.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}

img{
    height: 100px;
    width: 100px;
}

.center{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

ul, li{
    align-items: left;
    align-content: left;
    justify-content: left;
    justify-items: left;
    text-align: left;
}
.border {
    border: 10px inset whitesmoke;
    margin: 20px;
  }

.capital{
    text-transform: capitalize;

}

.hidden{
    visibility: hidden;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}



#search-bar{
    min-width: 400px;
    max-width: 200px;
    height: 200px;
    margin: 50px 50px 50px 10px;
    padding: 3px;
    background-color: blue;

}

#SearchPokemon{
    padding: 3px;

}

#box{
    padding: 3px;
}

.sixty{
    width: 60%
}

.SearchPokemon{
    width: 20%
}

iframe{
    margin: 50px 0px 0px 300px;
}